 <!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BestBet Switch</title>
        <link rel="stylesheet" href="~/library/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
@RenderBody()

<footer>
    <p>&copy; 2018 - BestBet Switch</p>
</footer>

<script src="~/library/bootstrap/js/bootstrap.min.js"></script>
<script src="~/javaScript/site.min.js" asp-append-version="true"></script>

</body>
</html>